@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?3gzg4a");
  src: url("fonts/icomoon.eot?3gzg4a#iefix") format('embedded-opentype'), url("fonts/icomoon.ttf?3gzg4a") format('truetype'), url("fonts/icomoon.woff?3gzg4a") format('woff'), url("fonts/icomoon.svg?3gzg4a#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-right:before {
  content: "\f078";
}
.icon-checkmark:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e800";
}
.icon-x:before {
  content: "\e901";
}
.icon-x-altx-alt:before {
  content: "\e902";
}
/**
* Color Swatches 
* http://bootflat.github.io/documentation.html
*/
/****
* Functions
*/
/** Functions fonts */
/** Create styles for the buttons **/
/** Create styles for the alerts **/
/****
* Tags
*/
body {
  background: #f1f2f6 !important;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto Slab', serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Roboto Slab', serif !important;
}
h1 {
  color: #0067b5;
}
html,
body {
/*background white*/
  height: 100%;
}
input[type="file"],
input[type="checkbox"],
input[type="radio"] {
  margin: 0 0 1rem 0;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
table thead th {
  background: #ccd1d9;
  padding: 0.3em;
  text-align: left;
}
table thead th a {
  text-decoration: underline;
}
table thead td {
  background: #fff;
  padding: 0.4em;
  font-weight: 500;
}
table tbody tr:nth-child(even) {
  background: #f5f7fa;
}
table tbody tr:hover {
  background: #5d9cec !important;
  color: #fff;
}
table tbody tr:hover a {
  color: #fff;
  text-decoration: underline;
}
table tbody tr:hover small {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
table tbody tr:hover .glyphicon {
  color: #fff;
}
table tbody td {
  padding: 0.3em;
}
table tbody td small {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin-left: 1em;
}
/****
 * Alerts
 */
.successful,
createAlerts(colorGrass1,
colorGrass2,
white),
.notice {
  background-color: #ffce54;
  border: 1px solid #f6bb42;
  color: #8a6d3b;
}
.successful a,
createAlerts(colorGrass1 a,
colorGrass2 a,
white) a,
.notice a {
  color: #fff;
}
.successful a:hover,
createAlerts(colorGrass1 a:hover,
colorGrass2 a:hover,
white) a:hover,
.notice a:hover {
  color: #8a6d3b;
  text-decoration: underline;
}
.danger {
  background-color: #ed5565;
  border: 1px solid #da4453;
  color: #da4453;
}
.danger a {
  color: #fff;
}
.danger a:hover {
  color: #da4453;
  text-decoration: underline;
}
.info {
  background-color: #4fc1e9;
  border: 1px solid #3bafda;
  color: #3bafda;
}
.info a {
  color: #fff;
}
.info a:hover {
  color: #3bafda;
  text-decoration: underline;
}
.alert-floating {
  display: none;
  left: 50%;
  margin-left: -10em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 3em;
  width: 20em;
  z-index: 9999;
}
/****
 * Buttons
 */
.btn-aqua {
  background-color: #4fc1e9;
  color: #fff;
}
.btn-aqua:hover {
  background-color: #3bafda;
  color: #fff;
}
.btn-blue {
  background-color: #5d9cec;
  color: #fff;
}
.btn-blue:hover {
  background-color: #4a89dc;
  color: #fff;
}
.btn-light-gray {
  background-color: #f5f7fa;
  color: #000;
}
.btn-light-gray:hover {
  background-color: #e6e9ed;
  color: #000;
}
.btn-green {
  background-color: #a0d468;
  color: #fff;
}
.btn-green:hover {
  background-color: #8cc152;
  color: #fff;
}
.btn-medium-gray {
  background-color: #ccd1d9;
  color: #fff;
}
.btn-medium-gray:hover {
  background-color: #aab2bd;
  color: #fff;
}
.btn-red {
  background-color: #ed5565;
  color: #fff;
}
.btn-red:hover {
  background-color: #da4453;
  color: #fff;
}
.btn-yellow {
  background-color: #ffce54;
  color: #fff;
}
.btn-yellow:hover {
  background-color: #f6bb42;
  color: #fff;
}
.btn-mint {
  background-color: #48cfad;
  color: #fff;
}
.btn-mint:hover {
  background-color: #37bc9b;
  color: #fff;
}
.btn-padding {
  padding-bottom: 8px;
  padding-top: 8px;
}
.btn-header {
  margin-top: 3rem;
  margin-bottom: 1.06rem;
}
/****
* Class Content Custom
*/
.title_main span {
  color: #024a82;
  display: block;
  font-size: 0.6em;
}
.filter-section {
  margin-bottom: 1rem;
}
.filter-section label {
  font-weight: 400;
}
.admin table.show-data thead th {
  background: #fff;
  border-bottom: 1px solid #ccd1d9;
  padding: 1em;
}
.admin table.show-data tr.row-data {
  height: 5.8em;
}
.admin table.show-data tr.row-data:hover .row-actions {
  display: block;
}
.admin table.show-data td {
  border: 0;
  padding: 1em;
}
.admin table.show-data td:first-child {
  width: 10em;
}
.admin table.show-data .row-actions {
  font-size: 0.8em;
  display: none;
}
.admin #headquarter_template_0 #remove_current_headquarter,
.admin #headquarter_template_0 #phonewrapper_0_headquarter_0 #remove_current,
.admin #email_template_0 #remove_current_email {
  display: none;
}
.admin #remove_current_headquarter,
.admin #remove_current_collaborators {
  cursor: pointer;
}
.admin #remove_current_headquarter span,
.admin #remove_current_collaborators span {
  margin-top: 25px;
}
.admin #remove_current,
.admin #remove_current_email {
  cursor: pointer;
}
.admin #remove_current span,
.admin #remove_current_email span {
  margin-top: 10px;
}
.admin .collaborators {
  margin-bottom: 10rem;
}
.admin #collaborators_template_0 {
  display: none;
}
/***
* Icon Color
*/
.color-danger {
  color: #da4453;
}
.color-notice,
.color-warning {
  color: #f6bb42;
}
.color-sucessful {
  color: #8cc152;
}
/****
* Layout
*/
/** Check Active e Inactive */
.check-active {
  color: #8cc152;
}
.check-inactive {
  color: #656d78;
}
/**
 * Add Styles to Bootstrap
*/
/**
* Margin responsive
*/
@media (min-width: 0px) {
  .margin-xs-top {
    margin-top: 15px !important;
  }
  .margin-xs-right {
    margin-right: 15px;
  }
  .margin-xs-bottom {
    margin-bottom: 15px;
  }
  .margin-xs-left {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .margin-sm-top {
    margin-top: 15px !important;
  }
  .margin-sm-right {
    margin-right: 15px;
  }
  .margin-sm-bottom {
    margin-bottom: 15px;
  }
  .margin-sm-left {
    margin-left: 15px;
  }
}
@media (min-width: 992px) {
  .margin-md-top {
    margin-top: 15px;
  }
  .margin-md-right {
    margin-right: 15px;
  }
  .margin-md-bottom {
    margin-bottom: 15px;
  }
  .margin-md-left {
    margin-left: 15px;
  }
}
@media (min-width: 1200px) {
  .margin-lg-top {
    margin-top: 15px;
  }
  .margin-lg-right {
    margin-right: 15px;
  }
  .margin-lg-bottom {
    margin-bottom: 15px;
  }
  .margin-lg-left {
    margin-left: 15px;
  }
}
/**
	* No margin
**/
.no-margin {
  margin: 0 !important;
}
@media (min-width: 0px) {
  .no-margin-xs-top {
    margin-top: 0px;
  }
  .no-margin-xs-right {
    margin-right: 0px;
  }
  .no-margin-xs-bottom {
    margin-bottom: 0px;
  }
  .no-margin-xs-left {
    margin-left: 0px;
  }
}
@media (min-width: 768px) {
  .no-margin-sm-top {
    margin-top: 0px !important;
  }
  .no-margin-sm-right {
    margin-right: 0px;
  }
  .no-margin-sm-bottom {
    margin-bottom: 0px;
  }
  .no-margin-sm-left {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .no-margin-md-top {
    margin-top: 0px;
  }
  .no-margin-md-right {
    margin-right: 0px;
  }
  .no-margin-md-bottom {
    margin-bottom: 0px;
  }
  .no-margin-md-left {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .no-margin-lg-top {
    margin-top: 0px;
  }
  .no-margin-lg-right {
    margin-right: 0px;
  }
  .no-margin-lg-bottom {
    margin-bottom: 0px;
  }
  .no-margin-lg-left {
    margin-left: 0px;
  }
}
/**
* No padding en grid de bootstrap
*/
@media screen and (min-width: 768px) {
  .no-padding {
    padding: 0 !important;
  }
}
/**
* Align tipography responsive
*/
@media (min-width: 0px) {
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-center {
    text-align: center;
  }
  .text-xs-justify {
    text-align: justify;
  }
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
}
